<ul>
    <!--product-->
    <li>
        <h3><a href="#products">Products</a></h3>
    </li>
    <li><a href="#p-all">Get all products</a></li>
    <li><a href="#p-single">Get a single product</a></li>
    <li><a href="#p-limit">Limit results</a></li>
    <li><a href="#p-sort">Sort results</a></li>
    <li><a href="#p-categories">Get all categories</a></li>
    <li><a href="#p-category">Get in category</a></li>
    <li><a href="#p-new">Add new product</a></li>
    <li><a href="#p-update">Update a product</a></li>
    <li><a href="#p-delete">Delete a product</a></li>
</ul>

<ul>
    <!--cart-->
    <li>
        <h3><a href="#cart">Cart</a></h3>
    </li>
    <li><a href="#c-all">Get all</a></li>
    <li><a href="#c-single">Get a single</a></li>

    <li><a href="#c-limit">Limit results</a></li>
    <li><a href="#c-sort">Sort results</a></li>
    <li><a href="#c-date">get in date range</a></li>
    <li><a href="#c-user-cart">get user cart</a></li>


    <li><a href="#c-new">Add new cart</a></li>
    <li><a href="#c-update">Update a cart</a></li>
    <li><a href="#c-delete">Delete a cart</a></li>
</ul>

<ul>
    <!--user-->
    <li>
        <h3><a href="#user">User</a></h3>
    </li>
    <li><a href="#u-all">Get all</a></li>
    <li><a href="#u-single">Get a single</a></li>

    <li><a href="#u-limit">Limit results</a></li>
    <li><a href="#u-sort">Sort results</a></li>

    <li><a href="#u-new">Add</a></li>
    <li><a href="#u-update">Update</a></li>
    <li><a href="#u-delete">Delete</a></li>
</ul>

<ul>
    <!--auth-->
    <li>
        <h3><a href="#auth">Login</a></h3>
    </li>
    <li><a href="#a-login">User login</a></li>
</ul>