</main>
</div>
<footer>
    <p>Made with <span class="heart">&hearts;</span> by <a target="_blank" rel="noopener noreferrer" href="https://keikaavousi.com">MohammadReza Keikavousi</a></p>
    <a href="#" class="donate" rel="noopener noreferrer">
        <img src='/icons/coffee.svg'/>
        Buy me a coffee</a>
</footer>

<script>
    let wrapper = document.querySelector('#result code')
    let loading = document.createElement('span')
    loading.className="loading"

    document.getElementById("fetch_btn").addEventListener('click',function(){
        wrapper.appendChild(loading)
        fetch('https://fakestoreapi.herokuapp.com/products/1')
            .then(res=>res.json())
            .then(json=>{
                wrapper.textContent=JSON.stringify(json,undefined,2)
            })
    })

</script>
</body>
</html>