</main>
</div>
<footer>
    <p>Made with <span class="heart">&hearts;</span> by <a target="_blank" rel="noopener noreferrer"
            href="https://keikaavousi.com">MohammadReza Keikavousi</a></p>
    <a href="https://idpay.ir/keikaavousi" class="donate" rel="noopener noreferrer">
        <img src='/icons/coffee.svg' />
        Buy me a coffee</a>
</footer>


<script src="/js/polyfill.min.js"></script>
<script>
    document.getElementById("menu-icon").addEventListener('click', function (e) {
        document.getElementById("menu").classList.toggle("open")
        e.target.classList.toggle('open')
    })
</script>
<script>
    //let targetAnchor = document.getElementById("try")

    // let links = document.querySelectorAll("a[href*='#']")

    // for (let i = 0; i < links.length; i++) {
    //     links[i].addEventListener('click', function (e) {
    //         e.preventDefault()

    //         let hash = links[i].hash
    //         let targetAnchor = document.querySelector(hash)
    //         console.log(hash,targetAnchor.offsetTop,window.scrollY)

    //         window.scrollTo({
    //             top: targetAnchor.offsetTop - 50 + window.scrollY,
    //             behavior: 'smooth'
    //         });

    //     })
    // }
</script>

</body>

</html>