<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/master.min.css">
    <title>Fake Shop API</title>
</head>

<body>
    <div class="container">
        <nav>
            <button id="menu-icon">
                <span></span>
                <span></span>
            </button>
            <ul id="menu">
                <li><a href="/">GitHub</a></li>
                <li><a href="/">Docs</a></li>
                <li><a id="try_link" href="#try">Try Playground</a></li>
                <li><a href="/">Buy me a coffee</a></li>
            </ul>
        </nav>
        <main>