<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/master.min.css">
    <title>Fake Store API</title>
</head>

<body>
    <div class="container">
        <nav>
            <button id="menu-icon">
                <span></span>
                <span></span>
            </button>
            <a href="/" class="logo"><img src="/icons/logo.png"></a>
            <ul id="menu">
                <li><a href="/docs">Docs</a></li>
                <li><a href="/">GitHub</a></li>
                <!-- <li><a id="try_link" href="/#try">Try Playground</a></li> -->
                <li><a href="https://idpay.ir/keikaavousi" target="_blank" rel="noopener noreferrer">Buy me a coffee</a></li>
            </ul>
        </nav>
        <main>