<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fake store rest api for your ecommerce or shopping website prototype">
    <link rel="stylesheet" href="/dist/master.min.css">
    <title>Fake Store API</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#802c6e">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:locale" content="fa_IR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Fake Store API" />
    <meta property="og:description" content="Fake store rest api for your ecommerce or shopping website prototype" />
    <meta property="og:url" content="fakestoreapi.com" />
    <meta property="og:site_name" content="Fake Store API" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160318377-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-160318377-2');
    </script>
    <style>
        .alert {
            width: 100%;
            padding: 15px;
            background-color: #802c6e;
            color: #fff;
            text-align: center;
        }

        .alert a {
            color: #fff;
            border-bottom: 1px dashed #fff;
            padding-bottom: 1px;
        }

        .close-alert {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #fff;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 2em
        }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3819632897977577"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <nav>
            <button id="menu-icon">
                <span></span>
                <span></span>
            </button>
            <a href="/" class="logo"><img src="/icons/logo.png"></a>
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/docs">Docs</a></li>
                <li><a href="https://github.com/keikaavousi/fake-store-api" target="_blank"
                        rel="noopener noreferrer">GitHub</a></li>
                <li><a target="_blank" href="https://donate.keikaavousi.com">Buy me a coffee</a>
                </li>
            </ul>
        </nav>
        <main>