.shadow {
    box-shadow: 0 10px 30px rgba(50, 50, 93, 0.12), 0 -1px 4px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 10px 30px rgba(50, 50, 93, 0.12), 0 -1px 4px rgba(0, 0, 0, 0.06);
}

%shadow {
    box-shadow: 0 10px 30px rgba(50, 50, 93, 0.12), 0 -1px 4px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 10px 30px rgba(50, 50, 93, 0.12), 0 -1px 4px rgba(0, 0, 0, 0.06);
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.justify-align {
    text-align: justify;
}

.block {
    display: block;
    width: 100%;
}

.inline-block {
    display: inline-block;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.margin-auto {
    margin: 0 auto;
}

.box-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

hr {
    border: unset;
    border-bottom: 1px solid rgba(187, 187, 187, 0.2);
    width: 100%;
    margin: 30px auto;
}

.label {
    display: inline-block;
    background: $light;
    padding: 5px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.label-sm {
    font-size: 0.8em;
}

@mixin margins($orientation, $pixel) {
    margin-#{$orientation}: $pixel !important;
}

.margin-top-xlg {
    @include margins(top, 200px);
}

.margin-top-lg {
    @include margins(top, 100px);
}

.margin-top-md {
    @include margins(top, 50px);
}

.margin-top-sm {
    @include margins(top, 30px);
}

.margin-bottom-lg {
    @include margins(bottom, 100px);
}

.margin-bottom-md {
    @include margins(bottom, 50px);
}

.margin-bottom-sm {
    @include margins(bottom, 30px);
}

.padding-lg {
    padding: 100px;
}

.padding-md {
    padding: 20px;
}

.padding-sm {
    padding: 10px;
}

/*.block{
    display: block;
    width: 100%;
}*/
p {
    margin: 10px 0;
}

main {
    min-height: 80vh;
    padding-top: 30px;
}

.hidden {
    display: none;
}

@media #{$tablet} {
    .hidden-xs {
        display: none;
    }

    .visible-xs {
        display: block;
    }
}

@media only screen and (min-width:480px) and (max-width:769px) {
    .hidden-sm {
        display: none;
    }

    .visible-sm {
        display: block;
    }
}

@media only screen and (min-width:769px) and (max-width:992px) {
    .hidden-md {
        display: none;
    }

    .visible-md {
        display: block;
    }
}

@media only screen and (min-width:992px) {
    .hidden-lg {
        display: none;
    }

    .visible-lg {
        display: block;
    }
}

.ck-editor__editable_inline {
    min-height: 400px;
}

// a {
//     color: #222;
// }

[alt] {
    color: #fff;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.justify-end {
    display: flex;
    justify-content: flex-end;
}

.social {
    display: flex;
    justify-content: center;
}

.stretched {
    align-items: stretch;
}


#__next-prerender-indicator {
    display: none;
}

#__next-build-watcher {
    display: none;
}

@media only screen and (max-width:769px) {
    .reverse-xs {
        flex-direction: column-reverse;
    }

    .margin-top-md-mob {
        margin-top: 50px !important;
    }

    .center-justify-xs {
        justify-content: center;
    }
}

.exact-center{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fixed{
    height:100vh;
    overflow:hidden;
  }
.body-fix{
    height: 100vh;
    overflow: hidden;
}