/*background-color*/
.primary{
    background-color: $primary;
}
.secondary{
    background-color: $secondary;
}
.danger{
    background-color: $danger;
}
.success{
    background-color: $success;
}
.warning{
    background-color: $warning;
}
.muted{
    background-color: $muted;
}
.light{
    background-color: $light;
}
.dark{
    background-color: $dark;
}
.black{
    background-color: $black;
}
.white{
    background-color: $white;
}
/*color*/
.text-primary{
    color: $primary;
}
.text-secondary{
    color: $secondary;
}
.text-danger{
    color: $danger
}
.text-success{
    color: $success;
}
.text-warning{
    color: $warning;
}
.text-muted{
    color: $muted;
}
.text-light{
    color: $light;
}
.text-dark{
    color: $dark;
}
.text-black{
    color: $black;
}
.text-white{
    color: $white;
}