body{
    font-size: 16px;
}
// *:not(.fab):not(.fas):not(.far):not(.fa){
//     font-family: Dubai;
// }

* {
    font-family: dana;
}
@supports (font-variation-settings: normal) {
    * {
     font-family: 'dana VF';
     font-variation-settings: "FANU" 0;
    }
}
h1,h2,h3{
    letter-spacing: -1px;
}
h1{
    font-variation-settings: "wght" 600;
}
h2{
    font-variation-settings: "wght" 500
}
h3{
    font-variation-settings: "wght" 400
}

h4,h5,h6{
    line-height: 2;
    margin: 15px 0;
    font-variation-settings: "wght" 300
}
p{
    line-height: 1.5;
    font-size: 1.1em;
    font-variation-settings: "wght" 200
}
a{
    // color: rgb(0, 0, 87);
    //font-size: 0.9em;
    color: rgb(0, 153, 255);
}
h1,h2,h3,h4,h5,h6,p,label{
    color: #3a3134;
}