$primary:#802c6e;
$secondary:#f7aa35;
$danger:#a71e22;
$success:rgb(0, 233, 136);
$warning:rgb(255, 211, 13);
$muted:rgb(162, 162, 162);
$light:#f5f5f5;
$dark:rgb(121, 121, 121);
$grey:rgb(143, 143, 148);
$darkgrey:#494949;
$black:rgb(27, 27, 27);
$white:#fff;
$mobile: 'only screen and (max-width:480px)';
$tablet: 'only screen and (max-width:769px)';
$small-desktop: 'only screen and (min-width:769px)';
$desktop: 'only screen and (min-width:992px)';